* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header {
   height: 72px;
   background: #FFFFFF;
   box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header__menu {
   height: 100%;
   margin: 0 auto;
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.item__link {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 24px;
   color: #1D1D1D;
   text-decoration: none;
   border: 1px solid #E0E0E0;
   box-sizing: border-box;
   border-radius: 2px;
   padding: 14px 20px;
}
.item_img {
   padding-left: 31px;
}
._menu__logo {
}
.menu__item {
}
.main_img {
   position: relative;
   width: 100%;
   height: 430px;
   background-image: url(img/Main.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.main__title {
   left: 80px;
   bottom: 80px;
   position: absolute;
   background-color: #fff;
   min-width: 389px;
   min-height: 204px;
}
.main__h {
   font-size: 36px;
   line-height: 42px;
   padding: 38px 38px 38px;
}
.block {
   padding-top: 78px;
   width: 956px;
   margin: 0 auto;
}
.main__flex {
   display: flex;
   justify-content: space-around;
}
.nav {
   width: 100%;
   min-height: 80px;
   background: #FFFFFF;
   border: 1px solid rgba(117, 117, 117, 0.2);
}
.nav__conteiner {
   min-height: 80px;
   display: flex;
   align-items: center;
}
.nav__link_color-green {
   padding-left: 80px;
   color: #2c9128;
   text-decoration: none;
}
.nav__link_color-green:hover {
   color: #12830a;
   text-decoration: underline;
}
.nav__link {
   padding-left: 40px;
   font-size: 16px;
   line-height: 19px;
   color: #626262;
   text-decoration: none;
}
.nav__link:hover {
   text-decoration: underline;
   color: rgb(41, 34, 34);
   transition: 0.3s;
}
.main__subtitle {
   font-size: 14px;
   line-height: 16px;
   color: #626262;
}
.main__time {
   font-size: 13px;
   line-height: 15px;
   color: #fff;
   background: #262626;
   border-radius: 16px;
   padding: 8px 16px 8px 16px;
}
.input {
   display: block;
   width: 956px;
   mix-blend-mode: normal;
   opacity: 0.3;
}
.text {
   font-size: 22px;
   line-height: 34px;
   color: #1D1D1D;
   padding-bottom: 16px;
}
.conteiner {
   max-width: 956px;
   margin: 0 auto;
}
.conteiner__content {
   display: flex;
   flex-wrap: wrap;
   flex: 0 0 33.3333%;
}
.top_bott {
   margin-left: 6px;
   margin-bottom: 16px;
}
.content__text {
   padding-top: 56px;
}
.content_img {
   max-width: 317px;
   max-height: 256px;
}
.content__link {
   margin-top: 16px;
   text-decoration: none;
   display: block;
   font-size: 16px;
   line-height: 24px;
   color: #1D1D1D;
}
.content__link:hover {
   color: rgb(134, 145, 144);
   transition: 0.3s;
}
.content_text {
   padding-top: 4px;
}
.content_text_time {
   padding-top: 4px;
   padding-bottom: 20px;
}
.content__item {
   max-width: 308px;
   max-height: 366px;
   background: -webkit-linear-gradient(45deg, rgb(243, 248, 248), rgb(252, 255, 255));
   background: -moz-linear-gradient(45deg, rgb(243, 248, 248), rgb(252, 255, 255));
   background: linear-gradient(45deg, rgb(243, 248, 248), rgb(252, 255, 255));


}
.footer {
   position: relative;
   background: #262626;
}
.footer_conteiner {
   max-width: 956px;
   margin: 0 auto;
}
.footer_logo {
   height: 90px;
   padding-bottom: 120px;
}
.footer_img {
   max-width: 158px;
   max-height: 150px;
   padding-top: 56px;
}
.footer_contacts {
   height: 220px;
   display: flex;
   padding-top: 32px;
   padding-bottom: 58px;
}
.flex_button {
   padding: 12px 128px 12px 48px;
   background: #3B3B3B;
   border-radius: 2px;
   color: #fff;
}
.flex_button::after {
   content: ">";
}
.flex_text {
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
   padding-top: 33px;
   padding-bottom: 20px;
}
.flex_text::before {
   content: "#";
   color: green;
}
.button_img {
   padding-right: 17px;
}
.contacts_link {
   margin-bottom: 23px;
   text-decoration: none;
   color: #FFFFFF;
}
.contacts_link:hover {
   transition: 0.3s;
   text-decoration: underline;
}
.div_img {
   padding-right: 20px;
}

.footer_flex {
   display: flex;
   flex-direction: column;
   padding-right: 128px;
}
.footer_advertisement {
   max-height: 120px;
   display: flex;
   justify-content: center;
}
.center__conteiner {
   display: flex;
   margin: 0 auto;
   width: 995px;
   height: 675px;
}
.card__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.card__price {
   padding-bottom: 16px;
   padding-left: 16px;
   font-weight: 500;
   font-size: 15px;
   line-height: 21px;
   color: #1D1D1D;
}
.card__img {
   max-height: 160px;
   max-width: 170px;
}
.card__link {
   padding-bottom: 16px;
   padding-left: 16px;
   text-decoration: none;
   font-size: 16px;
   line-height: 24px;
   color: #1D1D1D;
}
.card__subtitle {
   padding-left: 16px;
   font-size: 13px;
   line-height: 21px;
   color: #626262;
}
.card__link:hover {
   text-decoration: underline;
   color: rgb(39, 46, 46);
   transition: 0.3s;
}
.back {
   background: -webkit-linear-gradient(45deg, rgb(243, 248, 248), rgb(252, 255, 255));
   background: -moz-linear-gradient(45deg, rgb(243, 248, 248), rgb(252, 255, 255));
   background: linear-gradient(45deg, rgb(243, 248, 248), rgb(252, 255, 255));

}
.center__text {
   padding-bottom: 32px;
   padding-top: 56px;
   padding-left: 265px;
   font-size: 22px;
   line-height: 34px;
   color: #1D1D1D;
}

.center__flex {
   display: flex;
   flex-direction: column;
}
.center__card {
   display: flex;
   justify-content: space-between;
   width: 470px;
   height: 160px;
   margin-right: 16px;
   margin-bottom: 49px;
   border: 1px solid rgba(117, 117, 117, 0.2);
   box-sizing: border-box;
   border-radius: 2px;
}
.right {
   padding-right: 41px;
}
.advertisement_img {

   padding-top: 40px;
   padding-bottom: 40px;

}
.footer_rights {
   max-height: 93px;
   display: flex;
   justify-content: space-between;
   padding-top: 40px;
   padding-bottom: 40px;
}
.footer__roll {
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 50px;
   left: 1400px;
   position: absolute;
   min-width: 80px;
   min-height: 80px;
   background: #59BD5A;
   border-radius: 2px;
}
.roll__link {
   min-width: 20px;
   min-height: 30px;
}
.rights_text {
   color: azure;
}
@media (max-width: 768px) {
   .input {
      width: 100%;
   }
   .footer_logo {
      padding-left: 8px;
   }
   .footer_contacts {
      margin-left: 8px;
      height: 240px;
   }
   .footer_rights {
      padding-left: 8px;
      padding-right: 8px;
   }
   .header {
      max-width: 768px;
   }
   .conteiner {
      max-width: 667px
   }
   .conteiner__content {
      flex-wrap: wrap;
      width: 766px;
      min-height: 1250px;
   }
   .content_img {
      width: 376px;
   }
   .content_text {
      display: inline-block;
      padding-left: 8px;
   }
   .footer__roll {
      left: 0px;
      bottom: 0px;
   }
}
@media (max-width: 1024px) {
   .footer__roll {
      bottom: 60px;
      left: 850px;
   }
}